<header>
    <nav class="nav2">
        <img src="asset/carepy_logo-1.svg" alt="">
        <ul>
            <li><a href="#home" class="active">Home</a></li>
            <li class="hide-800"><a href="#about">About</a></li>
            <li class="hide-600"><a href="#Skills">Skills</a></li>
            <li class="hide-800"><a href="#Experience">Experience</a></li>
            <li class="hide-600"><a href="#contact-loc">Contact</a></li>
        </ul>
    </nav>

    <div class="landing">
        <img class="pankaj" src="assets/pankaj.png">
        <div class="intro">
            <h3>I'M <span style="color: black; font-size: larger;">Pankaj Kurade</span><br>Web Developer</h3>
            <a href="https://wa.me/7411942021?text=Hi!%20I'm%20interested%20in%20your%20Profile." target="_blank">
                <section>
                    <div class="example-button-row">
                        <button style="color: rgb(109, 202, 202);" mat-icon-button>contact</button>

                    </div>
                </section>
            </a>
        </div>

        <div class="socials">
            <div class="line"></div>
            <a href="https://www.linkedin.com/in/saikumar-magishetty-827044229/" target="_blank">
                <i class="ri-linkedin-fill"></i>
            </a>
            <a href="https://github.com/saimagishetty" target="_blank">
                <i class="ri-github-fill"></i>
            </a>
            <a href="https://instagram.com/saikumar_magishetty?igshid=MzRlODBiNWFlZA==" target="_blank">
                <i class="ri-instagram-fill"></i>
            </a>
            <!-- <i class="ri-facebook-line"></i> -->
        </div>
    </div>
</header>
<section id="about" class="about">
    <h1>About</h1>
    <div class="description">
        <div class="line"></div>
        <p> <span>Greetings!</span> Greetings! I'm an accomplished Software Developer with expertise in Angular,
            javascript,CSS. I specialize in developing end-to-end single-page applications, and I have a knack for
            crafting user-friendly interfaces that result in exceptional user experiences.


            Let's connect and explore exciting opportunities together!
        </p>
    </div>
</section>

<section id="Skills" class="skills">
    <h1>My Skills</h1>
    <div class="cards">
        <div class="skill-card">
            <img src="https://w7.pngwing.com/pngs/869/829/png-transparent-angularjs-protractor-software-testing-web-development-others-thumbnail.png"
                alt="">
            <h2>Angular</h2>
        </div>

        <div id="viewAllSkills" class="skill-card">
            <img src="https://w7.pngwing.com/pngs/640/199/png-transparent-javascript-logo-html-javascript-logo-angle-text-rectangle-thumbnail.png"
                alt="">
            <h2>JavaScript</h2>
        </div>
        <div id="viewAllSkills" class="skill-card">
            <img src="https://w7.pngwing.com/pngs/74/362/png-transparent-typescript-plain-logo-icon-thumbnail.png"
                alt="">
            <h2>TypeScript</h2>
        </div>
        <div id="viewAllSkills" class="skill-card">
            <img src="https://e7.pngegg.com/pngimages/185/866/png-clipart-html-logo-html-web-design-scalable-graphics-world-wide-web-markup-language-html5-icon-hd-miscellaneous-angle-thumbnail.png"
                alt="">
            <h2>HTML</h2>
        </div>
        <div id="viewAllSkills" class="skill-card">
            <img src="https://w7.pngwing.com/pngs/696/424/png-transparent-logo-css-css3-thumbnail.png" alt="">
            <h2>CSS</h2>
        </div>

        <div id="viewAllSkills" class="skill-card">
            <img src="https://e7.pngegg.com/pngimages/439/345/png-clipart-bootstrap-logo-thumbnail-tech-companies.png"
                alt="">
            <h2>Bootstrap</h2>
        </div>
        <div class="skill-card">
            <img src="https://cdn.jsdelivr.net/gh/angular-material-extensions/pages@master/assets/angular-material-extensions-logo.png"
                alt="">
            <h2>Material</h2>
        </div>
        <div id="viewAllSkills" class="skill-card">
            <img src="https://e7.pngegg.com/pngimages/713/558/png-clipart-computer-icons-pro-git-github-logo-text-logo-thumbnail.png"
                alt="">
            <h2>GIT</h2>
        </div>

    </div>

</section>

<section id="Experience" class="experience">
    <div class="darker-div">
        <h1 style="text-align: center;">Experience(1.9 years)</h1>

    </div>
    <div class="lighter-div">
        <div class="exp">
            <h2>Software Engineer</h2>
            <div class="exp-desc">
                <h3>Peol Technology Pvt Ltd, Bangalore</h3>
                <p>As a seasoned Software Engineer specializing in Angular development, I lead a dynamic team
                    while fostering client collaborations for seamless project execution and exceptional
                    results.<br><br>
                    Skills: Learning Management Systems · Angular · TypeScript · Node.js · javascript</p>
            </div>

        </div>

    </div>
</section>

