header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  z-index: 99;
}
.pankaj {
    position: relative;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
   height: 100vh;
   padding: 8px;
  margin: 0;
}

header {
  height: 100vh;
  /* padding: 36px 100px; */
  width: 100%;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 100vw; */
  background-color: #f5e5ca;
}
.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li a {
  color: #000000;
  text-decoration: none;
  transition: all ease 0.5s;
}

.landing {
  display: flex;
  height: 90vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.landing .intro {
  display: flex;
  flex-direction: column;
}

.landing .intro h3 {
  color: #656060;
  font-weight: 400;
  font-size: 32px;
  margin-left: 10vw;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.about {
  height: 50vh;
  width: 100vw;
  padding: 100px;
}

.about .description {
  display: flex;
  align-items: start;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;
}

.about .description p span {
  color: #fec86a;
}

body {
  font-family: "Open Sans", sans-serif;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
}
.socials i {
  color: #fbfbfb;
  font-size: 36px;
}

.socials .line {
  background-color: #fec86a;
  height: 15vh;
  width: 2.5px;
}

.skill-card {
  height: 20vw;
  width: 20vw;
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.about .description {
  display: flex;
  align-items: start;
}
.about .description .line {
  height: 2.5px;
  width: 400px;
  background-color: #fec86a;
  margin-right: 32px;
}
.about .description p {
  color: #070707;
  font-size: 20px;
}

.skills { background-color: #8d8f9e93;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}
.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}
.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}
.card h2 :hover {
  color: white;
}
.skill-card img {
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
  transition: width 1s, height 1s;
}
.skill-card img:hover {
    height: 15.5vw;
    width: 15.5vw;
    object-fit: contain;
  }





.experience {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 100vw;
  position: relative;
  align-items: center;
  justify-content: center;
}

.darker-div  {
  background-color: #0b0101e9;
  width: 100%;
  height: 50px;
  position: relative;
  /* text-align: center; */
  /* line-height: 50px; */
  /* left: 300px; */
}


.experience h1 {
      color: white;
  position: absolute;
  font-size: 30px ;
left: 10%;
line-height:  50px;

   font-family: "Libre Baskerville", serif;
  /* transform: translate(-50%, -50%); */
  /* top: 10%;

  /* text-align: center; */
}
.lighter-div {
  background-color: #878787;
  width: 100vw;
  /* height: 90vh; */
  padding: 10vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.lighter-div .exp {
  height: 30vh;
  width: 65vw;
  position: relative;
  margin-left: 20vh;
}
.exp h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}
.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #fec86a;
  background-color: #fec86a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 5px #ffd500a0;
}
.skill-card{


}
.exp-desc::before {
  content: "";
  width: 2.5px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
     top: 10%;
    left: 25%;

}

/* /////////////////////////////// */
.nav2 {
  display: flex;
  align-items: start;
  gap: 0.5vw;
  padding: 10px 10px;
  background-color: #878787;
  width: 100%;
}
.nav2 li {
  padding: 1%;
  font-weight: 100;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.nav2 li::after {
  content: "";
  position: absolute;
  background-color: rgb(194, 154, 154);
  height: 100%;
  width: 100%;
  left: 0;
  color: rgb(255, 255, 255);
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.nav2 li:hover::after {
  /* background-color: rgb(255, 250, 250); */
  bottom: 0;
  border-radius: 0;
}

.nav2 li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  z-index: 9;
  position: relative;
}
.nav2 li:hover {
  color: rgb(255, 255, 255);
  z-index: 1111;
}
/* /////////////////////////// */
