.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: var(--background-color);
  gap: 2rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #dee2e6;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.about-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 1.5rem;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.contact-info {
    margin-top: 1.5rem;
}

.contact-info a {
    color: var(--primary-color);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.about-image img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: 5px solid var(--white);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}